In [10]:
# based on http://nbviewer.jupyter.org/urls/umich.box.com/shared/static/6tfc1e0q6jincsv5pgfa.ipynb

import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

data_in = pd.read_csv('data/BODY_COMPOSITION_DATA_4_ASSIGNMENT_INDIV.csv', sep=',')
data_in.head()

   indiv sex  girths   bia     DW  jackson    HW  skinfolds   BMI   WHR  Waist
0      1   F   13.10  25.0  31.01    23.75  32.3      120.5  23.2  0.76   76.0
1      2   F   16.52  13.5  20.30    20.00  29.4       59.3  19.0  0.69   61.5
2      3   F   38.07  34.6  32.40    19.00  34.2      126.3  29.1  0.83   84.6
3      4   F   23.32  17.0  29.40    20.50  23.2       91.1  20.5  0.72   71.0
4      5   F   25.21  16.9  25.00    16.50   NaN       65.2  22.1  0.79   74.0

In [18]:
data_in.dropna(axis = (0,1), how='any', inplace=True) # drop NaN
data_in.head()
data_in.describe()

,indiv,girths,bia,DW,jackson,HW,skinfolds,BMI,WHR,Waist
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,102.452736,20.734552,16.980149,21.614647,14.212189,21.426408,82.684751,23.223000,0.781529,76.756716
std,58.635135,8.382091,6.792611,7.307617,7.479344,8.006785,33.108192,3.168286,0.057142,7.352106
min,1.000000,7.150000,5.700000,4.100000,3.000000,4.100000,27.750000,2.900000,0.670000,61.000000
25%,52.000000,15.080000,11.900000,16.300000,8.000000,15.000000,59.250000,21.170000,0.740000,72.000000
50%,102.000000,20.120000,15.900000,21.400000,12.600000,21.000000,76.230000,23.000000,0.780000,76.000000
75%,153.000000,24.400000,21.200000,28.000000,19.000000,27.000000,100.350000,24.800000,0.815000,81.000000
max,203.000000,87.900000,39.300000,45.900000,35.000000,43.000000,181.000000,33.030000,0.990000,100.800000

In [ ]:
data_inM = pd.melt(data_in, id_vars=['indiv'], value_vars=['girths', 'bia', 'DW', 'jackson', 'HW'])
data_inM.head()

In [15]:
md = smf.mixedlm("value ~ indiv", data_inM, groups=data_inM["variable"])
mdf = md.fit()
print(mdf.summary())

         Mixed Linear Model Regression Results
========================================================
Model:            MixedLM Dependent Variable: value
No. Observations: 1005    Method:             REML
No. Groups:       5       Scale:              44.1222
Min. group size:  201     Likelihood:         -3341.1094
Max. group size:  201     Converged:          Yes
Mean group size:  201.0
--------------------------------------------------------
             Coef.  Std.Err.    z    P>|z| [0.025 0.975]
--------------------------------------------------------
Intercept    25.506    1.507  16.924 0.000 22.552 28.460
indiv        -0.064    0.004 -17.744 0.000 -0.071 -0.057
groups RE    10.463    1.139
========================================================

In [17]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd as tukeyhsd
post_hoc = tukeyhsd(data_inM['value'], data_inM['variable'], 0.05) # apply tukey HSD
print(post_hoc)

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==============================================
group1  group2 meandiff  lower   upper  reject
----------------------------------------------
  DW      HW   -0.1882  -2.2637  1.8872 False
  DW     bia   -4.6345   -6.71   -2.559  True
  DW    girths -0.8801  -2.9556  1.1954 False
  DW   jackson -7.4025  -9.4779  -5.327  True
  HW     bia   -4.4463  -6.5217 -2.3708  True
  HW    girths -0.6919  -2.7673  1.3836 False
  HW   jackson -7.2142  -9.2897 -5.1387  True
 bia    girths  3.7544   1.6789  5.8299  True
 bia   jackson  -2.768  -4.8434 -0.6925  True
girths jackson -6.5224  -8.5978 -4.4469  True
----------------------------------------------